body{
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    font-family: 'Righteous';
}

h2{
    font-size: 18px;
    font: 400;
    color: #fff;
    font-family: 'Roboto';
}

.option{
    color: #333;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 16px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.description{
    font: 300;
    color: #A6A6A6;
    margin: 6px 0;
}

.top{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background: #CF2B2B;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
}

.contents{
    margin: 90px 0;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.contents > p{
    margin: 20px 0 7px 16px;
    font: 400;
    font-family: 'Righteous';
    font-size: 26px;
}

.scroll{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.scrol::-webkit-scrollbar{
    display: none;
}

.options{
    width: 144px;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    margin: 16px 8px;
    border-radius: 8px;
    border:5px solid white;
}

.selectedLunch{
    border:5px solid #32B72F;
}

.selectedDrink{
    border:5px solid #32B72F;
}

.selectedDessert{
    border:5px solid #32B72F;
}

.options img{
    width: 144px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.icon{
    color: green;
    display: none;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height:1295px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.requests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 150px;
    width: 90%;
    height: 354px;
    background-color: #50D074;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.title{
    color: #fff;
    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 28px;
}

.request {
    color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    margin-bottom: 13px;
}

.optionName{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.optionPrice{
    width: 100px;
    text-align: left;
}

.total{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.endRequest{
    width: 80%;
    background-color: #fff;
    color: #50D074;
    margin-top: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.018em;
    border-radius: 100px;
}

.cancel{
    width: 80%;
    background-color: #50D074;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price > span{
    display: none;
}

.show{
    display: initial;
}

.finalRequest{
    background-color: #fff;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: #CBCBCB;
    width: 364px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto';
    color: #fff;
}

.buttonColor{
    background: #32B72F;
}
